<%# frozen_string_literal: true %>
<%%= simple_form_for(<%= class_input %>) do |f| %>
  <%%= f.error_notification %>
  <%%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  <%- class_input.attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> %>
  <%- end -%>
  </div>

  <div class="form-actions">
    <%%= f.button :submit %>
  </div>
<%% end %>
