<div class="container">
  <h1>List</h1>
  <ul>
    <% if @lists.any? %>
      <% @lists.each do |list| %>
        <% if list.photo.key %>
          <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <li><%= link_to list.name, list_path(list)%> </li>
      <% end %>
    <% end %>
  </ul>

</div>
